/* Styles for h1 */
h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

/* Styles for the button */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff1f1f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

/* Hover effect */
.button:hover {
    background-color: #ba0000;
}

/* Active effect */
.button:active {
    background-color: #ff1f1f;
    transform: translateY(1px);
}

/* Reset default margin and padding */
body,
h1,
h2,
h3,
p,
ul,
li,
form,
input {
    margin: 0;
    padding: 0;
}

/* Container styles */
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ff1f1f;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ba0000;
}

/* New styles for title */
.title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    color: #ff1f1f;
    outline: none;
    /* Remove outline */
    border: none;
    /* Remove border */
    /* Blue color, you can change it to any color you like */
}

.title:hover {
    text-decoration: none;
}

/* New styles for result box */
.result-box {
    max-width: 840px;
    margin-top: 20px;
    margin-left: calc((100% - 55rem) / 2);
    margin: 50px auto;
    /* max-width: 100%; */
    /* Add space between search bar and result */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Result message styles */
.result {
    /* margin-top: 20px; */
    padding: 10px;
    border-radius: 4px;
    background-color: #f0f0f0;
    text-align: center;
    margin: auto;

}

.clipart {
    max-width: 85%;
    height: auto;
    text-align: center;
}

.back-button {
    position: fixed;
    display: inline-block;
    top: 20px;
    left: 20px;
    padding: 20px 20px;
    background-color: #ff1f1f;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(0, 0, 0,0.1);
}

.button-icon {
    position: absolute;
    /* left: 5px; */
    /* Adjust the position of the image */
    top: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    /* Set the width of the image */
    height: 20px;
    /* Set the height of the image */
}

.back-button:hover {
    background-color: #ba0000;
}