<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <h1>About Us</h1>
    <p>Welcome to our website! We are a team dedicated to providing first aid information and resources to help you stay
        safe and healthy.</p>
    <p>Our mission is to empower individuals with the knowledge and skills needed to respond effectively to emergencies
        and everyday health concerns.</p>
</body>

</html>