<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>

  <body>
    <h1>About CPR</h1>
    <div>
      <p>
        Cardiopulmonary Resuscitation, or CPR, is an emergency procedure
        performed on a patient, when the patient heart stops beating. When
        performed immediately, the patient's survival rate for cardiac arrest
        can double or triple. When the heart stops beating, blood is not being
        pumped and stopping oxygen flow throughout the body. Performing CPR
        effectively pumps the blood for the patient until the heart can pump
        itself again.
      </p>
      <p>
        There are two common types of CPR. 1. Conventional CPR: This is for
        trained professionals, and invovles hand compressions and mouth to
        mouth. 2. Hands-Only CPR: This is for the general public, who may not be
        specifically trained to do CPR.
      </p>
    </div>
    <div>
      <h2>How to Perform Hands-Only CPR</h2>
      <p>
        Before CPR: 1. Make sure site is secure and safe, and check if the
        person is responsive. Check for breathing. 2. If patient does not
        respond, call 911 for assistance. Now beginning CPR: 1. Make sure
        patient is on a firm and flat surface. 2. Kneel next to the patient, and
        ensure your knees are shoulder-width apart. 3. Place the heel of one
        hand in the center of their chest, with your other hand on top.
        Interlace your fingers and make sure they are up off the chest. 4.
        Position your body so that your shoulders are directly over your hands.
        Lock your elbows to keep your arms straight. 5. Give continuous
        compressions. Push hard and fast (2 inches deep), to the beat of Bee
        Gees' song “Stayin' Alive.” (or another 100-120 BPM song).
      </p>
    </div>
    <div>
      <h2>Find Songs with 100-120 BPM for CPR!</h2>
      <p>
        CPR compressions should be paced to 100-120 BPM (Beats per minute).
        Several songs like Bee Gees' song “Stayin' Alive.” fit this criteria.
        Connect your spotify below to find suggested songs that fit the criteria
        for you!
      </p>
      <button onclick="location.href = '/login';">Log in with Spotify</button>
    </div>
    <div>
      <p>
        All information here is provided from the American Heart Association
        Website.
      </p>
    </div>
  </body>
</html>
