<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>

  <body>
    <h1>First Aid</h1>
    <p>
      A well-prepared first aid kit is essential for addressing minor injuries
      and providing initial care in emergency situations. Here's a list of items
      commonly recommended for inclusion in a basic first aid kit:
    </p>
    <p>
      Our mission is to empower individuals with the knowledge and skills needed
      to respond effectively to emergencies and everyday health concerns.
    </p>
  </body>
</html>
