<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>

  <body>
    <h1>CPR Songs</h1>
    <div>
      <center>
        <p>Recommended Songs</p>
        <br />
        {% for track in user_songs.tracks %}
        <p>{{ track.name }} - {{ track.artists[0].name }}</p>
        {% endfor -%}
      </center>
    </div>
  </body>
</html>
