<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>

  <body>
    <h1>First Aid</h1>
    <p>
      A well-prepared first aid kit is essential for addressing minor injuries
      and providing initial care in emergency situations. Here's a list of items
      commonly recommended for inclusion in a basic first aid kit:
    </p>
    <p>
      1. Bandages: <br />
      • Adhesive bandages (various sizes) <br />
      • Sterile gauze pads (different sizes) <br />
      • Sterile adhesive tape <br />
      2. Wound Care Supplies: <br />
      • Antiseptic wipes or solution (e.g., alcohol wipes, iodine solution)
      <br />
      • Antibiotic ointment or cream <br />
      • Sterile saline solution (for cleaning wounds) <br />
      3. Tools and Instruments:<br />
      Scissors (blunt-tip for safety) <br />
      Tweezers (for splinter removal)<br />
      Thermometer (preferably digital) <br />
      Disposable gloves (latex-free for allergy considerations) <br />
      4. Miscellaneous Supplies: <br />
      • Cotton balls or swabs Safety pins<br />
      • Disposable face masks (for CPR or preventing infection spread)<br />
      5. Medications: <br />
      • Pain relievers (e.g., acetaminophen, ibuprofen) <br />
      • Antihistamine tablets (for allergic reactions) <br />
      • Aspirin (if recommended by healthcare provider for heart conditions)
      <br />
      6. Emergency Items: <br />
      • Emergency contact information (including doctors, hospitals, poison
      control)<br />
      • First aid manual or instructions Emergency blanket (for warmth or shock)
      <br />
      • Instant cold packs (for reducing swelling or pain) <br />
      7. Personal Care: <br />
      • Hand sanitizer or soap (for hand hygiene) <br />
      • Sunscreen (if applicable)<br />
      • Insect repellent<br />
      8. Specialized Items (based on needs):<br />
      • EpiPen (for severe allergic reactions)<br />
      • Inhaler (for asthma) <br />
      • Glucose gel or tablets (for diabetes) <br />
      • Medical alert cards or bracelets (if relevant)<br />
    </p>
  </body>
</html>
