<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>

  <body>
    <h1>First Aid</h1>
    <p>
      A well-prepared first aid kit is essential for addressing minor injuries
      and providing initial care in emergency situations. Here's a list of items
      commonly recommended for inclusion in a basic first aid kit:
    </p>
    <p>
      Bandages: Adhesive bandages (various sizes) Sterile gauze pads (different
      sizes) Sterile adhesive tape Wound Care Supplies: Antiseptic wipes or
      solution (e.g., alcohol wipes, iodine solution) Antibiotic ointment or
      cream Sterile saline solution (for cleaning wounds) Tools and Instruments:
      Scissors (blunt-tip for safety) Tweezers (for splinter removal)
      Thermometer (preferably digital) Disposable gloves (latex-free for allergy
      considerations) Miscellaneous Supplies: Cotton balls or swabs Safety pins
      Disposable face masks (for CPR or preventing infection spread)
      Medications: Pain relievers (e.g., acetaminophen, ibuprofen) Antihistamine
      tablets (for allergic reactions) Aspirin (if recommended by healthcare
      provider for heart conditions) Emergency Items: Emergency contact
      information (including doctors, hospitals, poison control) First aid
      manual or instructions Emergency blanket (for warmth or shock) Instant
      cold packs (for reducing swelling or pain) Personal Care: Hand sanitizer
      or soap (for hand hygiene) Sunscreen (if applicable) Insect repellent
      Specialized Items (based on needs): EpiPen (for severe allergic reactions)
      Inhaler (for asthma) Glucose gel or tablets (for diabetes) Medical alert
      cards or bracelets (if relevant)
    </p>
  </body>
</html>
