<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>

  <body>
    <h1>Emergency Hotlines</h1>
    <p>
      Emergency Hotline: 911 <br />
      National Suicide Prevention Lifeline: 1-800-273-8255<br />
      National Domestic Violence Hotline: 1-800-799-7233<br />
      National Poison Control Center: 1-800-222-1222<br />
      National Human Trafficking Hotline: 1-888-373-7888<br />
      National Sexual Assault Hotline: 1-800-656-4673<br />
      National Child Abuse Hotline: 1-800-422-4453<br />
      Veterans Crisis Line: 1-800-273-8255 (Press 1)<br />
      Disaster Distress Helpline: 1-800-985-5990<br />
      National Runaway Safeline: 1-800-786-2929<br />
    </p>
  </body>
</html>
