<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>

  <body>
    <h1>Emergency Hotlines</h1>
    <p style="font-size: 20px; text-align: center">
      <br />
      <strong>Emergency Hotline: </strong>911 <br />
      <strong>National Suicide Prevention Lifeline: </strong
      >1-800-273-8255<br />
      <strong>National Domestic Violence Hotline: </strong>1-800-799-7233<br />
      <strong>National Poison Control Center: </strong>1-800-222-1222<br />
      <strong>National Human Trafficking Hotline: </strong>1-888-373-7888<br />
      <strong>National Sexual Assault Hotline: </strong>1-800-656-4673<br />
      <strong>National Child Abuse Hotline: </strong>1-800-422-4453<br />
      <strong>Veterans Crisis Line: </strong>1-800-273-8255<br />
      <strong>Disaster Distress Helpline: </strong>1-800-985-5990<br />
      <strong>National Runaway Safeline: </strong>1-800-786-2929<br />
    </p>
  </body>
</html>
